* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  text-align: center;
  gap: 50px;
  text-align: center;
  border: 1px solid;
}

.tooltip-container1 {
  position: relative;
}

.tooltip-container2 {
  position: relative;
}

.tooltip-container3 {
  position: relative;
}

.tooltip-content1 {
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 10px;
  position: absolute;
  bottom: 150%;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  display: none;
  animation: fadeIn 0.5s ease-in-out;
}

.tooltip-content2 {
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 10px;
  position: absolute;
  bottom: 150%;
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
  display: none;
}

.tooltip-content3 {
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 10px;
  position: absolute;
  bottom: 150%;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  display: none;
}

.tooltip-content1::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 100%;
  border-width: 8px;
  border-style: solid;
  border-color: black transparent transparent;
}

.tooltip-content2::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 100%;
  border-width: 8px;
  border-style: solid;
  border-color: black transparent transparent;
}

.tooltip-content3::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 100%;
  border-width: 8px;
  border-style: solid;
  border-color: black transparent transparent;
}

.tooltip-container1:hover > .tooltip-content1 {
  display: block;
}
.tooltip-container2:hover > .tooltip-content2 {
  display: block;

  animation: dropDown 0.5s ease-in-out;
}
.tooltip-container3:hover > .tooltip-content3 {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes dropDown {
  from {
    bottom: 500%;
    opacity: 0;
  }
  to {
    bottom: 150%;
    opacity: 1;
  }
}
