* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  border: 1px solid;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  text-align: center;
  gap: 20px;
}

.tooltip-content1 {
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 10px;
}

.tooltip-content2 {
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 10px;
}

.tooltip-content3 {
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 10px;
}

.tooltip-container1:hover > .tooltip-content1 {
  display: block;
}
